body {
  background-image: radial-gradient(circle, #ffffff, #cfcfcf, #a1a1a1, #757575, #4c4c4c);
  background-repeat: repeat;
  height: 100vh;

  font-family: 'Rubik', sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  height: 30px;
  width: 400px;
  padding-left: 20px;
  padding-right: 20px;
}

input::placeholder {
  text-align: center;
  color: white;

  font-family: 'Rubik', sans-serif;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding-top: 60px;
  padding-bottom: 60px;

  margin-left: -15px;
}

img {
  cursor: pointer;
  object-fit: cover;
}

.photo-item {
  margin-left: 15px;
  margin-bottom: 15px;

  border-radius: 5px;
  border: 3px solid black;
}

.stats {
  display: flex;
  padding: 5px 15px;

  align-items: center;
  justify-content: center;
}
.stats-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats-item:not(:last-child) {
  margin-right: 14px;
}

.material-icons {
  margin-right: 3px;
}
